#mainWrap{
	margin:10px 25px;
	}
h1,h2,h3,h4,h5,h6{
	font-weight:400;
	color:darkgreen;
	}
a{
	color:darkgreen;
	}
a:hover{
	color:lightgreen;
	text-decoration:none;
	}
.yat{
	border-collapse: collapse;
	}
.yat td,.yat th{
	padding:3px 4px 1px 4px;
	}
.yat th{
	background-color: #ccc;
	}
.yat td{
	border-bottom: 1px solid #eee;
	}