/*  
2013-01-04: just noting that as of today this has evolved from undohtml.css and also cssreset01 as original.  See no need to split this into two files yet, all of these are solid changes that can be easily undone.
	* also applied clearfix to all divs as a test - http://www.positioniseverything.net/easyclearing.html

	cssreset01.css - incorporates coding from http://boldperspective.com/reset/bpstyle.uncompressed.css
*/
._linkAnchor{
	float:left;
	width:1px;
	height:1px;
	position:relative;
	}
._linkAnchor a{
	position:absolute;
	top:0px;
	left:0px;
	display:block;
	width:100px;
	background-color:rgba(0,0,0,.25);
	padding:0px 0px 3px 3px;
	color:white;
	border-radius:3px;
	border:1px solid rgba(255,255,255,.75);
	font-size:12px;
	}
._linkAnchor a:hover{
	background-color:rgba(0,0,0,.75);
	text-decoration:none;
	}
div:after {
	clear:both;
	visibility:hidden;
	content:'.';
	display:block;
	height:0px;
	margin:0px;
	padding:0px;
	font-size:0px;
	line-height:0px;
	}

a { text-decoration:none }
a:hover{ text-decoration:underline;	}
ul { list-style:disc inside none; }
ul { margin-left:15px; }

@media screen{
.printhide{/* display:inherit; */}
.screenhide{display:none;}
}
@media print{
.printhide{display:none;}
.screenhide{/* display:inherit; */}
}


pre,code { font-size:1em; }

dl,dt,dd,pre,form,body,html,blockquote,input { margin:0px; padding:0px }

p{ margin-bottom:10px;}

a img,:link img,:visited img { border:none }

/* de-italicize address */
address { font-style:normal }

/* preferred way to show table data */
td,th{ vertical-align:top; }
th{ text-align:left; }
/* compact forms */
form{ display:inline; }
fieldset{	padding:5px 7px 6px 10px; }
legend{	padding:0px 6px; }

/* most commonly used font and size for my sites */
body,input,textarea,td{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	}

/* good starting size and margin-pad for headings */
h1{	margin:16px 0px 10px 0px; font-size:24px; }
h2{ margin:12px 0px 7px 0px; font-size:21px; }
h3{ margin:8px 0px 3px 0px; font-size:18px; }
h4{ margin:4px 0px 0px 0px; font-size:15px; }


/* helpful utilities */
.cb { clear:both; }
.cb0{ clear:both; height:0px; }
.dn{ display:none; }
.fr{ float:right; margin-left:20px;	}
.fl{ float:left; margin-right:20px;	}
.fr0{ float:right; }
.fl0{ float:left; }
.nobr  { white-space:nowrap; }
.tar{ text-align:right;	}
.tac{ text-align:center;}
.nullTop{
	margin-top:0px;
	padding-top:0px;
	}
.nullBottom{
	margin-bottom:0px;
	padding-bottom:0px;
	}
label{
	/* normally this is needed */
	cursor:pointer;
	}
.gray{
	color:#777;
	}
/* Global/General Styles */
body { -webkit-tap-highlight-color: rgb(255,255,0); margin: 0px; }
a { -webkit-transition: color .3s linear; -o-transition: color .3s linear; -moz-transition: color .3s linear; text-decoration: none; }
a:active,a:focus { text-decoration: underline; }
a img { border: 0; }
p { margin: 0 0 10px; }
::selection {background: #ccc;}
::-moz-selection {background: #ccc;}

/* lists...ugh, NOT my favorite subject; 2013-10-16: padding:0 applies ONLY to <ul> now, not <ol> */
ul { padding: 0; }
/* SF/2013-10-16; this code will create 1.a.i structure similar perh. to a legal document.. */
ol > li > ol{
	list-style-type:lower-alpha;
	}
ol > li > ol > li > ol{
	list-style-type:lower-roman;
	}
/* a heading at the start of a <li> normally wants to be inline.. */
li h1:first-child, li h2:first-child, li h3:first-child, li h4:first-child{
	display:inline;
	font-family:inherit;
	}

/* this interesting code comes from krencl, 
1
	1.1
	1.2
		1.2.1
		1.2.2
	1.3
2 etc..
		http://stackoverflow.com/questions/7791071/is-it-possible-to-create-multi-level-ordered-list-in-html
/* hide original list counter * /
ol li {display:block;} 
/* OR * /
ol {list-style:none;}  

ol > li:first-child {counter-reset: item; } /* reset counter * /
ol > li {counter-increment: item;} /* increment counter * /
ol > li:before {content:counters(item, ".") ". "; font-weight:bold;} /* print counter * /
*/

/*
li > ol > li:before {
  counter-increment: item;
  content: counter(item) ". ";
}
*/


/* Forms */
/* 2012-02-09: new form goodies starting from scratch */
label:hover{
	cursor:pointer;
	border:1px dotted #777;
	}
label{
	border:1px solid transparent;
	padding:1px 3px;
	}
/* much more readable form style */
input, textarea, select { 
	padding: 5px 10px; border-width: 1px; border-style: solid; background-color: #ffffff; font-size: 14px; margin-top:2px;
	}
input, textarea, select{
	border-color:midnightblue;
	}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus { 
	border-color: #de8800;
	}
input[type="submit"], input[type="button"], input[type="file"]{
	padding:2px 8px; 
	margin-top:2px; 
	border-radius:3px;
    border-style: solid;
    border-width: 1px;
    border-color: midnightblue;
	background-image:url('/images/i/grad/stdbuttongrad2.png'); 
	background-repeat:repeat-x; 
	background-position:center; 
	background-color:teal;	
	}
input[type="button"]:hover, input[type="button"]:focus, input[type="submit"]:hover, input[type="submit"]:focus{
	background-color:#F7DB99;
	cursor:pointer;
	}
input[disabled], textarea[disabled], select[disabled]{
	border-color:#aaa;
	background-color:whitesmoke;
	}
.minimal{
	border-width:1px;
	padding:0px;
	}

/* input,textarea { border: 1px #aaa solid; padding: 10px; outline: none; } */


/* Styling */

.ginormous { font-size: 72px; }
.gigantic { font-size: 38px; }
.huge { font-size: 28px; }
.large { font-size: 18px; }
.big,big { font-size: 15px; }
.small,small { font-size: 11px; }
.tiny { font-size: 8px; }
/* added 2011-04-28: best appearance */
h1,h2,h3,h4,h5,h6{ font-family:Georgia, "Times New Roman", Times, serif; }

.monospace,var,code,pre { font-family: courier new, courier, monospace, serif; }
.serif,cite,blockquote { font-family: palatino, georgia, times, times new roman, serif; }
abbr,acronym{border-bottom:1px dotted;cursor:help;font-variant:small-caps}

blockquote { border-top: 1px #ccc dotted; border-bottom: 1px #ccc dotted; text-align: justify; margin: 20px; padding: 0 10px; }
blockquote:first-letter { font-size: 17px; padding-right: 1px; }
blockquote:first-line { font-size: 15px; }
blockquote p { margin: 5px 0; }
.code{
	border:1px dotted darkgreen;
	background-color:whitesmoke;
	font-family:"Courier New", Courier, monospace;
	padding:0px 4px;
	}
.red{
	color:darkred;
	}
p.dropCap:first-line {
    line-height: 1em;
	}
p.dropCap:first-letter {
    float: left;
    font-size: 3em;
    padding: 0 4px 2px 0;
	font-family:Georgia, "Times New Roman", Times, serif;
	}
/* http://webdesign.about.com/od/advancedcss/a/aa090307.htm */
p.raisedCap:first-letter {
	font-size: 3em;
	}
p.raisedCap:first-line {
	line-height: 1em;
	}
p.adjacentCap{
	text-indent: -2.5em;
	margin-left: 3em;
	}
p.adjacentCap:first-letter{
	font-size: 3em;
	font-family:Georgia, "Times New Roman", Times, serif;
	}
p.adjacentCap:first-line{
	line-height: 100%;
	}
textarea.tabby:focus{
	border-style:dotted;
	}

#showTester{
	cursor:pointer;
	background-color:#CCC;
	width:5px;
	height:5px;
	font-size:5px;
	}
#tester{
	display:none;
	background-color:#8A9887;
	border:1px solid #000;
	padding:5px;
	}
/* 2013-01-22: generic for different tag types */
.plain{
	list-style:none;
	padding:0px;
	margin:0px;
	font-style:normal;
	color:inherit;
	}