/*
changelog:
	div.slideshow a.advance-link -> line-height: 502px; (lost this, taken care of by php for mine



*/
div.content {
	/* javascript will show this div */
	display: none;
	}
div.slideshow-container {
	position: relative;
	clear: both;
	}

div.slideshow a.advance-link {
	display: block;
	/*margin-top:-20px;*/
	/*text-align: center;*/
	}
div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
	text-decoration: none;
	}
div.slideshow img {
	/*vertical-align: middle;*/
	}
div.download {
	float: right;
	}
div.caption-container {
	position: relative;
	clear: left;
	}
div.caption {
	padding: 12px;
	}
div.image-title {
	font-weight: bold;
	font-size: 1.4em;
	}
div.image-desc {
	line-height: 1.3em;
	padding-top: 12px;
	}
ul.thumbs {
	clear: both;
	margin: 0;
	padding: 0;
	}
ul.thumbs li {
	float: left;
	padding: 0;
	margin: 0px 10px 10px 0px;
	list-style: none;
	}
a.thumb {
	padding: 2px;
	display: block;
	border: 1px solid #ccc;
	}
ul.thumbs li.selected a.thumb {
	background: #000;
	}
a.thumb:focus {
	outline: none;
	}
ul.thumbs img {
	border: none;
	display: block;
	}
div.pagination {
	clear: both;
	}
div.navigation div.top {
	margin-bottom: 12px;
	height: 11px;
	}
div.navigation div.bottom {
	margin-top: 12px;
	}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
	display: block;
	float: left;
	margin-right: 2px;
	padding: 4px 7px 2px 7px;
	border: 1px solid #ccc;
	}
div.pagination a:hover {
	background-color: #eee;
	text-decoration: none;
	}
div.pagination span.current {
	font-weight: bold;
	background-color: #000;
	border-color: #000;
	color: #fff;
	}
div.pagination span.ellipsis {
	border: none;
	padding: 5px 0 3px 2px;
	}